.hero-img{
    width:100%;
    background: rgba(0, 0, 0, 0.5);
    height:100vh;
    position: relative;
}

.hero-img::before{
    content: '';
    background: url(https://images.unsplash.com/photo-1504805572947-34fad45aed93?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHByb2dyYW1tZXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: center top;
    height:100%;
    width:100%;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    opacity: 0.2;
}

.heading{
    width: 100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}

.hero-img h1{
    font-size: 2.4rem;
}

.hero-img p {
    font-size: 1.4rem;
    text-align: center;
    width: 300px;
    word-spacing: 5px;
    padding-top: 15px;
    font-size: 25px;

}

@media screen and (max-width:640px){
    .hero-img h1{
        font-size: 2rem;
    }

    .hero-img p {
        text-align: center;
        width: 200px;
        word-spacing: 5px;
        padding-top: 25px;
        font-size: 20px;
    
    }
}